/* ----------------------------------------- NAVBAR ----------------------------------------- */

#formControlNavBar {
  background-color: var(--bs-gray-200) !important;
  font-weight: 400;
  border-radius: 2px !important;
}

#searchIcon {
  color: rgba(0, 0, 0, 0.6) !important;
  left: 2rem;
}

#profilePic {
  margin: 0 0 0 1rem;
  height: 2rem;
}

#messageIcon {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 1.5rem;
  margin: 0 1rem 0 1rem;
}

.navbar2Buttons {
  width: 100%;
  text-align: center;
  height: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
  vertical-align: baseline !important;
}

.navbar2Buttons:hover {
  background-color: var(--bs-gray-400) !important;
}

.navBarDedicatedButtonP {
  font-size: 0.6rem !important;
}

.navBarDedicatedButtonP:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.navBarDedicatedButtonP2 {
  font-size: 0.5rem !important;
}

.navBarDedicatedButtonP2:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.topBarButton:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.sectionOneNavbar {
  border-right: 1px solid var(--bs-gray-400);
  width: 300%;
}

.navBarDedicatedButton {
  padding: 0.5rem 0 0.5rem 0 !important;
  font-size: 1.3rem;
}

@media screen and (min-width: 576px) {
  .navBarDedicatedButton {
    padding: 0 0 0 0 !important;
  }
  .navBarDedicatedButtonP {
    padding: 0 0 0.2rem 0 !important;
  }
}

.goliardiaPortamiVia {
  width: 50%;
  margin: 0 1rem 0 1rem;
  font-size: 0.6rem;
}

.titoliDropDownTu {
  font-size: 0.8rem !important;
  text-align: start;
}

.testiDropDownTu {
  font-size: 0.6rem !important;
  margin: 0;
}
.testiDropDownTu:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.6rem !important;
  margin: 0;
}

#login-page {
  min-height: 75vh;
  background: #f2f2f2;
}

#login-form {
  height: auto;
  width: auto;
  max-width: 800px !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.fratmSelect {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("icona-freccia-giù.png") no-repeat right;
  background-size: 12px;
}

select:hover {
  border: 1px solid #888;
}

h1,
p {
  margin: 0 0 10px 0; /* Aggiustamenti ai margini */
}

/* ------------------------------------------ FINE CSS VINCENZO -------------------------------- */

#info,
#lineeguida,
#privacy,
#sales,
#security,
#access,
#career,
#options,
#mobile,
#talent,
#marketing,
#pub,
#imprese {
  font-size: 0.8em;
}
.questions {
  font-size: 0.8em;
  font-weight: normal;
}
.date {
  font-weight: normal;
  color: #626160;
  font-size: 0.7em;
}

#profilePic {
  margin: 0 0 0 1rem;
  height: 2rem;
}

#messageIcon {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 1.5rem;
  margin: 0 1rem 0 1rem;
}
.language {
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
}
.icon {
  width: 30px;
  height: 30px;
  color: #3d3d3c;
}
.myfooterp:hover {
  text-decoration: underline;
  cursor: pointer;
}
.myfooter:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #b289dc;
}

/* ---------------------------------- ESPERIENZE ----------------------------------- */
.jobLine {
  width: 100%;
}

.bi.bi-plus-circle:hover {
  cursor: pointer;
}
